USE [tourism]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 23.07.2026 14:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[countries](
	[id_count] [int] IDENTITY(1,1) NOT NULL,
	[name_count] [varchar](100) NOT NULL,
	[continent] [varchar](50) NOT NULL,
	[currency] [varchar](10) NOT NULL,
 CONSTRAINT [PK_countries] PRIMARY KEY CLUSTERED 
(
	[id_count] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hotels]    Script Date: 23.07.2026 14:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hotels](
	[id_h] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[id_count] [int] NOT NULL,
	[city] [varchar](100) NOT NULL,
	[stars] [int] NOT NULL,
 CONSTRAINT [PK_hotels] PRIMARY KEY CLUSTERED 
(
	[id_h] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[service_types]    Script Date: 23.07.2026 14:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[service_types](
	[id_serv] [int] IDENTITY(1,1) NOT NULL,
	[name_serv] [varchar](100) NOT NULL,
	[description] [text] NOT NULL,
 CONSTRAINT [PK_service_types] PRIMARY KEY CLUSTERED 
(
	[id_serv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tour_orders]    Script Date: 23.07.2026 14:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tour_orders](
	[id_tour_or] [int] IDENTITY(1,1) NOT NULL,
	[order_date] [datetime] NOT NULL,
	[customer_name] [varchar](150) NOT NULL,
	[customer_phone] [varchar](20) NOT NULL,
	[customer_email] [varchar](100) NOT NULL,
	[total_cost] [money] NOT NULL,
	[number_p] [int] NOT NULL,
	[id_count] [int] NOT NULL,
	[id_tour] [int] NOT NULL,
	[id_h] [int] NOT NULL,
	[id_serv] [int] NOT NULL,
 CONSTRAINT [PK_tour_orders] PRIMARY KEY CLUSTERED 
(
	[id_tour_or] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tour_statuses]    Script Date: 23.07.2026 14:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tour_statuses](
	[id_tour] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tour_statuses] PRIMARY KEY CLUSTERED 
(
	[id_tour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[hotels]  WITH CHECK ADD  CONSTRAINT [FK_hotels_countries1] FOREIGN KEY([id_count])
REFERENCES [dbo].[countries] ([id_count])
GO
ALTER TABLE [dbo].[hotels] CHECK CONSTRAINT [FK_hotels_countries1]
GO
ALTER TABLE [dbo].[tour_orders]  WITH CHECK ADD  CONSTRAINT [FK_tour_orders_countries] FOREIGN KEY([id_count])
REFERENCES [dbo].[countries] ([id_count])
GO
ALTER TABLE [dbo].[tour_orders] CHECK CONSTRAINT [FK_tour_orders_countries]
GO
ALTER TABLE [dbo].[tour_orders]  WITH CHECK ADD  CONSTRAINT [FK_tour_orders_hotels] FOREIGN KEY([id_h])
REFERENCES [dbo].[hotels] ([id_h])
GO
ALTER TABLE [dbo].[tour_orders] CHECK CONSTRAINT [FK_tour_orders_hotels]
GO
ALTER TABLE [dbo].[tour_orders]  WITH CHECK ADD  CONSTRAINT [FK_tour_orders_service_types] FOREIGN KEY([id_serv])
REFERENCES [dbo].[service_types] ([id_serv])
GO
ALTER TABLE [dbo].[tour_orders] CHECK CONSTRAINT [FK_tour_orders_service_types]
GO
ALTER TABLE [dbo].[tour_orders]  WITH CHECK ADD  CONSTRAINT [FK_tour_orders_tour_statuses] FOREIGN KEY([id_tour])
REFERENCES [dbo].[tour_statuses] ([id_tour])
GO
ALTER TABLE [dbo].[tour_orders] CHECK CONSTRAINT [FK_tour_orders_tour_statuses]
GO
